<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.ImageMapper">
    <resultMap id="ImageEntityMap" type="com.lee.pojo.Image" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="image1" property="image1" jdbcType="VARCHAR" />
        <result column="image2" property="image2" jdbcType="INTEGER" />
        <result column="image3" property="image3" jdbcType="VARCHAR" />
        <result column="image4" property="image4" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findProductImageByPid" resultType="Image">
        select * from product_image where pid = #{pid}
    </select>

</mapper>

